/*GENERAL*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/*LOADER*/
.loader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loader 1s ease-in-out 3s forwards;
}

.loader__letters {
  margin-bottom: 70px;
}

.letter {
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 70px;
  font-size: 240%;
  font-family: 'Shrikhand', sans-serif;
  color: #fff;
  animation: flash 1.4s linear infinite;
}

@keyframes flash {
  0% {
    color: rgb(189, 153, 234);
    text-shadow: 0 0 6px rgb(189, 153, 234);
  }
  90% {
    color: #fff;
    text-shadow: none;
  }
  100% {
    color:rgb(189, 153, 234);
    text-shadow: 0 0 6px rgb(189, 153, 234);
  }
}

.loader__pulse {
  width: 72px;
  height: 72px;
  color: #9356dc;
  background: radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
        linear-gradient(to bottom left, currentColor 42%,#0000 43%) bottom left ,
        linear-gradient(to bottom right,currentColor 42%,#0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  animation: loader 1s ease-in-out 3s forwards;
}

.loader__pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pl3 1.2s infinite;
}

@keyframes pl3 {
  to {
     transform: scale(1.8);
     opacity: 0;
  }
}

@media screen and (min-width:768px) {

}

/*TYPOGRAPHY*/

h1 {
  margin: 0;
  font-size: 130%;
  font-weight:bolder;
  line-height: 1;
}

a {
  text-decoration: none;
  color:white;
}

/*HEADER*/
  .logo__image {
  display: block;
  margin: auto;
  padding: 20px 0 10px 0;
  width: 170px;
 }

/*WRAPPER*/
.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px; 
}

/*SEARCH SECTION*/
.search-form__address-box {
  background-color: rgb(238, 238, 238);
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  margin:auto;
  padding: 14px 0;
}

.search-form__address-text {
  text-align: center;
  padding-left: 35px;
}

.search-form__address-text i {
  padding-left: 10px;
}

.search-form__address--input {
  border: transparent;
  background-color: rgb(240, 239, 239);
  margin-left: 15px;
}

input::placeholder {
  font-weight:700;
  color: rgb(67, 66, 66);
  font-size: 90%;
}

.search-form__main {
  background-color: rgb(248, 248, 248);
  text-align: center;
}

h1 {
  padding-top: 35px;
  margin: 0 45px;
}

.search-form__text {
  font-size: 100%;
}

.search-form__text p {
 margin: 15px 15px 25px 15px;
} 

.search-form__button {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  padding: 14px;
  margin-bottom: 55px;
  border: none;
  border-radius: 40px;
  max-width: 65%;
  cursor: pointer;
}

.search-form__button:hover {
  background: linear-gradient(#fe9be2, #a370e2);
  box-shadow: rgba(0, 0, 0, 0.30) 0px 10px 15px;
}

.search-form__button a {
  font-size: 90%;
}

/*HOWTO SECTION*/
.howto {
  margin-bottom: 20px;
}

.howto h1 {
  margin: 40px 0 45px 0;
  padding: 0;
}

.howto h2 {
  font-size: 90%;
  margin-left: 15px;
}

.howto-steps-one__button,
.howto-steps-two__button,
.howto-steps-three__button {
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  width: 100%;
  position: relative;
  bottom: 18px;
  cursor: pointer;
}

.howto-steps-one__button:hover,
.howto-steps-two__button:hover,
.howto-steps-three__button:hover {
  background: linear-gradient(to right,#ede2fb, #f5effa);
  box-shadow: rgba(0, 0, 0, 0.20) 2px 10px 15px;
}

.howto-steps-one__text:hover i,
.howto-steps-two__text:hover i {
  color: #9356DC;
}

.howto-steps-one__text,
.howto-steps-two__text,
.howto-steps-three__text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 20px;
}

.howto-steps-three__button {
  background: linear-gradient(to right,#ede2fb, #f5effa);
}

.fa-circle-1, 
.fa-circle-2,
.fa-circle-3 {
  font-size: 22px;
  color: #9356DC;
  position: absolute;
  z-index: 3;
}

.fa-mobile-screen,
.fa-list,
.fa-store {
  color: rgb(120, 118, 118);
  margin: 0 10px;
}

.fa-store {
  color: #9356DC;
}

/*RESTAURANTS SECTION*/
.restaurants {
  padding: 40px 0 40px 0;
  background-color: rgb(238, 238, 238);
}

.restaurants-card {
  margin: 0;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(99 99 99 / 10%) 0px 8px 16px 0px;
  background-color: white;
  margin-bottom: 15px;
}

.restaurants-card:hover {
  box-shadow: rgba(58, 58, 58, 0.2) 0px 8px 14px 0px;
}

.restaurants-card img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.restaurants-card__content {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.restaurants-card__heart i {
  margin-right: 20px;
}

.fa-heart {
  color:black;
  font-size: 18px;
}

.restaurants-card__text {
  margin:  10px 0 10px 10px;
}

.restaurants h1 {
  margin: 0 0 15px 0;
  padding: 0;
}

.restaurants-card__text h2,
.restaurants-card__text p {
  color: black;
  margin: 0;
}

.restaurants-card__text h2 {
  font-weight: 900;
  margin-bottom: 3px;
  font-size: 85%;
}

.restaurants-card__text p {
  font-size: 80%;
}

.restaurants-card__image {
  position: relative;
}

.restaurants-card__image:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.restaurants-card__new {
  background-color: #99E2D0;
  border: none;
  color: rgb(28, 155, 123);
  padding: 5px 10px;
  font-size: 70%;
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
}

.fill {
  color: black;
  cursor: pointer;
}

.fill:hover {
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: fill 1.5s ease-in-out;
}

@keyframes fill {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

/*FOOTER*/

footer {
  background-color: rgb(67, 66, 66);
  padding-bottom: 30px;
}

footer p {
  margin: 0;
  padding: 20px 0 20px 20px;
  font-family: 'Shrikhand', sans-serif;
  color: white;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 20px;
}

ul i {
  margin-right: 8px;
}

footer a {
  font-size: 80%;
}

footer a:hover {
  color:#99E2D0 ;
}

/*MENU PAGES*/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  font-size: 130%;
}

