/*GENERAL*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/*TYPOGRAPHY*/

h1 {
  margin: 0;
  font-size: 130%;
  font-weight:bolder;
  line-height: 1;
}

a {
  text-decoration: none;
  color:white;
}

/*HEADER*/
  .logo__image {
  display: block;
  margin: auto;
  padding: 20px 0 10px 0;
  width: 170px;
 }

/*WRAPPER*/
.wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 960px; 

  padding-right: 15px; 
  padding-left:  15px;
}

/*SEARCH SECTION*/
.search-form__address-box {
  background-color: rgb(238, 238, 238);
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  margin:auto;
  padding: 14px 0;
}

.search-form__address-text {
  text-align: center;
  padding-left: 35px;
}

.search-form__address-text i {
  padding-left: 10px;
}

.search-form__address--input {
  border: transparent;
  background-color: rgb(240, 239, 239);
  margin-left: 15px;
}

input::placeholder {
  font-weight:700;
  color: rgb(67, 66, 66);
  font-size: 90%;
}

.search-form__main {
  background-color: rgb(248, 248, 248);
  text-align: center;
}

h1 {
  padding-top: 35px;
  margin: 0 45px;
}

.search-form__text {
  font-size: 100%;
}

.search-form__text p {
 margin: 15px 0 25px 0;
} 

.search-form__button {
  background-color: var(--primary);
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  padding: 14px;
  margin-bottom: 55px;
  border: none;
  border-radius: 40px;
  max-width: 65%;
  cursor: pointer;
}

.search-form__button a {
  font-size: 90%;
}

/*HOWTO SECTION*/
.howto h1 {
  margin: 40px 0 45px 0;
  padding: 0;
}

.howto h2 {
  font-size: 90%;
  margin-left: 15px;
}

.howto-steps-one__button,
.howto-steps-two__button,
.howto-steps-three__button {
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  width: 100%;
  position: relative;
  bottom: 18px;
  cursor: pointer;
}

.howto-steps-one__text,
.howto-steps-two__text,
.howto-steps-three__text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 20px;
}

.howto-steps-three__button {
  background: linear-gradient(to right,#ede2fb, #f5effa);
}

.fa-circle-1, 
.fa-circle-2,
.fa-circle-3 {
  font-size: 22px;
  color: #9356DC;
  position: absolute;
  z-index: 3;
}

.fa-circle-1 {
  : 16px;
}

.fa-mobile-screen,
.fa-list,
.fa-store {
  color: rgb(120, 118, 118);
  margin: 0 10px;
}

.fa-store {
  color: #9356DC;
}

@media screen and (min-width:768px) {

}